@font-face{
	font-family: "BaseFont";
	src: url("ConcertOne.ttf");
}

p,li,a{ font: 18px/24px BaseFont }

.side_li{
    margin-left:-15px;
	list-style-image: url('side_li.png');
}

#side_bar{
	position: fixed;
	top: 0;
	right: 0;
	width: 300px;
	height: 100%;
	overflow: auto;
	background-color: powderblue;
}

#title{
	font-size: large;
	text-align: center;
}

#profile_image{
	border-radius: 50%;
	display: block;
	margin: 0px auto;
}

#content{
	position: absolute;
	z-index:-1;
	top: 0;
	right:300px;
	width: calc(100% - 300px);
	height: 100%;
	overflow: auto;
}

#content_aligner{
	margin: 0 auto;
	width: 67%;
}
