@font-face{
	font-family: "BaseFont";
	src: url("ConcertOne.ttf");
}

p,li,a{ font: 18px/24px BaseFont; /*color:red;*/}

.side_li{
	margin-left:-20px;
	list-style: none;
}

.side_li_a{
	text-decoration: none;
	color: black;
}

#side_bar{
	position: fixed;
	top: 0;
	right: 0;
	width: 300px;
	height: 100%;
	overflow: auto;
	background-color: powderblue;
}

#title{
	font-size: 180%;
	text-align: center;
	text-decoration: none;
	color: black;
	display: block;
}

#profile_image{
	display: block;
	margin: 0px auto;
}

#content{
	position: absolute;
	z-index:-1;
	top: 0;
	right:300px;
	width: calc(100% - 300px);
	height: 100%;
	overflow: auto;
	background-color: darkgrey;
}

#content_aligner{
	margin: 50px auto;
	padding: 15px;
	width: 67%;
	background-color: white;
}

#to_top{
	position: fixed;
	bottom: 50px;
	right: 320px;
}

#to_bottom{
	position: fixed;
	bottom: 10px;
	right: 320px;
}